body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100%;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.container-beenfits {
    max-width:1360px ;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.container-partners {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper__background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
}